<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      <ion-icon (click)="cart()" name="arrow-back"></ion-icon>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header> 
      <img src="assets/a3.jpg" alt="logo">
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Plant Corner</ion-card-title>
    </ion-card-header>

<ion-card-content>
  Keep close to Nature's heart... and break clear away, once in awhile,
  and climb a mountain or spend a week in the woods. Wash your spirit clean.
</ion-card-content>

