<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Main</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-app>
    <h2>Welcome to Plant Corner.
      <br>
      <h4>Sign in to your account.</h4> 
    </h2>
      <ul>
        <ion-button color="warning" expand="block" (click)="signin()">Already a customer? Sign in</ion-button>
        <ion-button color="light" expand="block" (click)="signup()">New user? Sign up</ion-button>
        <ion-button color="light" expand="block" (click)="home()">Skip sign in</ion-button>
      </ul>
  </ion-app>
</ion-content> 


