<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      <ion-icon color="primary" (click)="home()" name="arrow-back"></ion-icon>
      Indoor Plants
    </ion-title>
    <!-- <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="main-menu"></ion-menu-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
<ion-card-content>
  <div>
    <p>ZZ Plant</p>
    <img src="assets/z1.jpg" >
  </div>
  <br>
  <div>
    <p>ZZ Plant</p>
    <img src="assets/z2.jpg" >
  </div>
  <br>
  <div>
    <p>ZZ Plant</p>
    <img src="assets/z3.jpg" >
  </div>
  <br>
  <div>
    <p>ZZ Plant</p>
    <img src="assets/z4.jpg" >
  </div>
  <br>
  <div>
    <p>ZZ Plant</p>
    <img src="assets/z3.jpg" >
  </div>
  <br>
  <div>
    <p>ZZ Plant</p>
    <img src="assets/z1.jpg" >
  </div>
  <br>
</ion-card-content>
</ion-card>
</ion-content>